body {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f0f0f5;
}

#container{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    margin: 5px;
}




#grid-container{
    display: flex;
    flex: 1;
    height: auto;
    align-items: center;
    justify-content: center;
    width: 960px;
}

.row{
   width: auto;
   height: auto;
}

.column{
    border: 2px solid #000;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    background-color: #fff;
    
}

.color-container{
    display: flex;
    flex-direction: column;
}



#grid-button{
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    background-color: #000;
    margin: 5px;
}

#title{
    text-align: center;
}


#reset-button{
    border: 1px solid #000;
    border-radius: 5px;
    color: #000;
    background-color: #fff;
    margin: 5px;
}

